<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            
            <div>
                <h1>The Logols Alumni Foundation</h1>

                First Name: <br />
                <input type="text" [(ngModel)]="alumnus.FirstName" name="FirstName" /><br /><br />

                Last Name: <br />
                <input type="text" [(ngModel)]="alumnus.LastName" name="LastName" /><br /><br />

                Email: <br />
                <input type="text" [(ngModel)]="alumnus.Email" name="Email" /><br /><br />

                <button (click)="onSubmitClicked(alumnus)">Submit</button>

            </div>


            <table *ngIf="alumni">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let alumnus of alumni">
                        <td>{{alumnus.FirstName}}</td>
                        <td>{{alumnus.LastName}}</td>
                        <td>{{alumnus.Email}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
